# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.lock

# Android
*.apk
*.aab
local.properties
.gradle/
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/*.xcworkspace
ios/Podfile.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project metadata
.reasonix/
